.page-update-mac #block-system-main {
	background-color: #fff;
	padding: 30px 0;
}

.box-search-item {
	height: 60px;
}
#edit-submit-search {
	margin-top: 25px;
}
#adstrue-mac-update-property #edit-submit {
	margin-top:20px;
}
.next_row {
	margin-top: 20px;
}
.wr .box {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
.submit_mac input {
	margin-top:20px;
}

